{{ define "main" }}
<h1>{{ .Page.Title }}</h1>

{{ if and (isset .Params "image") .Params.image }}
    {{ $image := .Page.Resources.GetMatch .Params.image }}
    {{ with $image }}
        {{ $thumb := .Resize "1600x webp q82" }}
        {{ printf `<img src="%s" alt="%s" class="img-responsive gallery-image" loading="eager" decoding="async" fetchpriority="high" width="%d" height="%d">` $thumb.RelPermalink .Title $thumb.Width $thumb.Height | safeHTML }}
    {{end}}
{{ end }}

{{ .Content }}
{{ template "_internal/disqus.html" . }}

{{ end }}
