{{ define "main" }}
<h1>{{ .Page.Title }}</h1>
<br/>
{{ .Content }}

<div class="posts-list">
{{ range sort .Pages "Date" "desc" }}
    {{ if not .Params.private }}
        <div class="post">
            <div class="date">{{ .PublishDate.Format "Jan. 2, 2006" }}</div>
            <h1><a href="{{ .RelPermalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
            {{ if eq .Section "notes" }}
                {{ with .Description }}
                    <p class="notes-summary">{{ . }}</p>
                {{ else }}
                    <p class="notes-summary">{{ .Summary | plainify }}</p>
                {{ end }}
            {{ else }}
                {{ .Summary }}
            {{ end }}
        </div>
    {{ end }}
{{ end }}
</div>

{{ end }}
